.aibBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aibLine {
  display: inline-flex;
}

.aibLineItemHolder {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.aibLineButtons {
  right: 0;
  margin-left: 0.25rem;
  width: 52px;
  display: flex;
  flex-direction: row;
}

.aibLine.aibReadOnly .aibLineItem,
.aibLineItem.aibReadOnly {
  background-color: #d3d3d329;
  color: #0d0d0dc7;
  font-style: italic;
  opacity: 1;
}
