/* Button */
.aio-button-holder {
  position: relative;
  display: inline-flex;
}

.aio-button-holder:not(:first-child) {
  margin-left: 2px;
}

/* Holders for position */
.aio-drop-items-holder {
  position: absolute;
  z-index: 500;
  left: 1.25rem;
}

.aiw-holder .aio-drop-items-holder {
  z-index: 1002;
}

.aio-drop-items-inner-holder {
  position: relative;
}

/* Drop items */
.aio-drop-item {
  background-color: rgb(214, 139, 25);
  color: rgb(240, 255, 250);
  padding: 2px 6px;
  box-shadow: 3px 3px 3px rgb(64,64,64, 0.5);
}


.aio-drop-item:hover {
  background-color: orangered;
}

.aio-drop-item:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.aio-drop-item:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: 6px;
}

.aio-button-row-options {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z'/%3E%3Cpath fill-rule='evenodd' d='M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z'/%3E%3C/svg%3E");
}